<!DOCTYPE html>
<html>
<head>
<title>Access Denied</title>
<style>
body {
	font-family: "Raleway", sans-serif;
	text-align: center;
	float: center;
	width: 700px;
	border-left: 4px solid black;
	border-top: 4px solid black;
	border-bottom: 4px solid black;
	border-right: 4px solid black;
	box-sizing: border-box;
	width: 20%;
	background-color: white;
	color: black;
}
</style>
</head>

<body>
	<h1>DataBase operations are not allowed for Users. Please do not
		seek other attempts</h1>
	GO to the
	<a th:href="@{/}"> Main Page</a>
</body>
</html>